<ion-header>
  <ion-toolbar>
    <ion-title>Empleados</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irACrearEmpleado()">
        <ion-icon name="add-circle-outline"></ion-icon>
        Crear
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-searchbar [(ngModel)]="searchTerm" showClearButton="never"></ion-searchbar>
    <ion-button slot="end" (click)="buscar()">
      <ion-icon name="search"></ion-icon>
    </ion-button>
        <ion-button slot="end" color="medium" (click)="limpiarBusqueda()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let emp of empleados">
      <ion-label>
        <h2>{{ emp.id }} - {{ emp.nombreCompleto }}</h2>
        <p>{{ emp.cargo }} - {{ emp.departamento }}</p>
      </ion-label>
      <ion-button (click)="irAEditarEmpleado(emp.id)">Editar</ion-button>
      <ion-button color="danger" (click)="eliminar(emp.id)">Eliminar</ion-button>

    </ion-item>
    <span *ngIf="empleados.length==0"> No hay empleados para mostrar.</span>
  </ion-list>
</ion-content>